body {
    margin: 0;
}
.header {
    height: 80px;
    background: #333333;
    display: flex;
}

.title {
    color: #12af63;
    align-self: center;
    margin: 0 32px;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}

.filler {
    flex: 1 1 auto;
}

.nav-item {
    text-decoration: none;
    color: white;
    align-self: center;
    margin-right: 30px;
}