body {
    margin: 0;
}
.header {
    height: 80px;
    background: #333333;
    display: flex;
}

.title {
    color: #12af63;
    align-self: center;
    margin: 0 32px;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}